@font-face {
    font-family: 'botton-navbar-buttons';
    src: url('fonts/botton-navbar-buttons.eot?u197qh');
    src: url('fonts/botton-navbar-buttons.eot?u197qh#iefix') format('embedded-opentype'), url('fonts/botton-navbar-buttons.ttf?u197qh') format('truetype'), url('fonts/botton-navbar-buttons.woff?u197qh') format('woff'), url('fonts/botton-navbar-buttons.svg?u197qh#botton-navbar-buttons') format('svg');
    font-weight: normal;
    font-style: normal;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'botton-navbar-buttons' !important;
    /*speak: none;*/
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-comment:before {
    content: "\e904";
}

.icon-home:before {
    content: "\e900";
}

.icon-like:before {
    content: "\e901";
}

.icon-profile:before {
    content: "\e902";
}

.icon-search:before {
    content: "\e903";
}