#posts-list {
    width: 100%;
    height: 100%;
    padding: 2em;
    margin-bottom: 14em;
    box-sizing: border-box;
}

.post {
    box-sizing: border-box;
    margin: 2em 0;
    padding-bottom: 0.5em;
    width: 100%;
    box-shadow: 0 0 1.5em #00000077;
    border-radius: 2em;
    overflow: hidden;
    background-color: white;
}

.post-top {
    position: relative;
    width: 100%;
    height: 6em;
    display: flex;
    align-items: center;
    padding: 0 0.5em;
}

.post-profile-img {
    width: 5em;
    height: 5em;
    border-radius: 5em;
}

.post-profile-name {
    margin-left: 0.5em;
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.post-images {
    box-sizing: border-box;
    margin: 0 3em;
    height: 34em;
    padding-left: 0.5em;
    padding-bottom: 0.75em;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    align-content: center;
}

.post-image {
    display: inline;
    list-style-type: none;
    margin: 0 0.5em;
}

.post-image>img {
    width: 80vw;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.post-options {
    height: 6em;
    overflow-x: auto;
    white-space: nowrap;
    padding-left: 0.5em;
}

.post-options>li {
    display: inline;
    list-style-type: none;
    margin: 0 1em;
}

.post-option {
    width: 6em;
    height: 6em;
    outline: none;
    border: none;
    background: none;
}

.post-option>i {
    font-size: 5em;
    pointer-events: none;
}

.post-description {
    margin: 0;
    margin-bottom: 2em;
    padding: 0 0.75em;
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-wrap: break-word;
}

.more {
    display: none;
}

.post-read-more {
    width: 7.25em;
    height: 1.5em;
    font-size: 0.75em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
    padding: 0 0.5em;
    border: none;
    outline: none;
    background: none;
    background-color: rgb(30, 43, 85);
    border-radius: 1.5em;
}