html {
    background-color: rgb(0, 29, 53);
}

::placeholder {
    color: white;
    opacity: 0.5;
}

#register-container {
    padding: 2em;
    box-sizing: border-box;
    margin-bottom: 8em;
}

#title {
    color: white;
    font-size: 5em;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type="text"],
input[type="password"] {
    color: white;
    background: none;
    outline: none;
    border: none;
    border-bottom: 4px solid rgb(0, 238, 255);
    margin-bottom: 1em;
    width: 100%;
    font-size: 4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type="submit"] {
    color: white;
    width: 100%;
    height: 2em;
    font-size: 4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 0.075em solid white;
    outline: none;
    background: linear-gradient(to left, rgb(103, 209, 121), rgb(22, 92, 156));
    border-radius: 0.5em;
}