/*
Raíz da página, usado neste caso para declaração de variáveis
globais
*/
:root {
    --bottom-navbar-background: rgb(103, 187, 255);
    --main-button-color: rgb(255, 255, 255);
}

html {
    background-color: white;
}

body {
    margin: 0;
    overflow: hidden;
    touch-action: manipulation;
}

#main {
    height: 100vh;
}

#viewport {
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

/*
#viewport-top {
    height: 2.5em;
}
*/

#viewport-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10em;
}

#bottom-navbar {
    height: 100%;
    display: flex;
    filter: drop-shadow(0 0 0.25em #000000dc);
}

#bottom-navbar-left,
#bottom-navbar-right {
    position: relative;
    flex: 1;
    background: var(--bottom-navbar-background);
}

#bottom-navbar-center {
    position: relative;
    display: flex;
    justify-content: center;
    width: 16em;
    height: 16em;
}

#bottom-navbar-center::after {
    content: '';
    display: block;
    position: absolute;
    background: var(--bottom-navbar-background);
    width: 103%;
    height: 100%;
    -webkit-mask-image: url("../img/bottom_navbar_center.svg");
    -webkit-mask-size: 100%;
    mask-image: url("../img/bottom_navbar_center.svg");
    mask-size: 100%;
}

#main-button {
    position: relative;
    width: 10em;
    height: 10em;
    bottom: 5em;
    border: none;
    border-radius: 6em;
    padding: 0;
    background-color: var(--main-button-color);
    background-image: url("../img/icons/main_button.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    outline: none;
    pointer-events: all;
}

.bottom-navbar-button {
    width: 8em;
    height: 8em;
    text-align: center;
    padding: 0;
    border-radius: 5em;
    border: none;
    outline: none;
    background-color: white;
    box-shadow: 0 0 1em #000000dc;
    pointer-events: all;
}

.bottom-navbar-button > i {
    font-size: 6em;
    pointer-events: none;
}

.active > i {
    color: lightblue;
}

#home-button {
    position: absolute;
    right: 14em;
    top: 2em;
}

#search-button {
    position: absolute;
    right: 0.5em;
    top: 2em;
}

#like-button {
    position: absolute;
    left: 0.5em;
    top: 2em;
}

#profile-button {
    position: absolute;
    left: 14em;
    top: 2em;
}

#app-main {
    position: absolute;
    width: 100%;
    height: 100%;
}

#page {
    width: 100%;
    height: 100%;
    border: none;
    overflow: scroll;
}