#root {
    width: 600px;
    height: 800px;
    background-color: #D301FF;
    margin: auto;
}

#center {
    height: 600px;
}

#main {
    float: right;
    padding: 8px 8px;
    width: 75%;
    height: 600px;
    overflow: hidden;
    box-sizing: border-box;
}

#main-left {
    float: left;
    width: 50%;
    height: 40%;
    padding: 0 4px;
    box-sizing: border-box;
}

#main-right {
    float: right;
    width: 50%;
    height: 40%;
    padding: 0 4px;
    box-sizing: border-box;
}

#main-left>h3 {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

#main-right>h3 {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.side-bar a {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#bottom a {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: auto;
    margin-bottom: auto;
}

.side-bar ul {
    padding-left: 20px;
}

.side-bar {
    float: left;
    background-color: #9812B3;
    height: 600px;
    width: 25%;
    box-sizing: border-box;
}

#top {
    height: 100px;
    background-color: #14CCA0;
}

#top>img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#bottom {
    background-color: #FFB403;
    width: 100%;
    height: 100px;

    display: flex;
}

#bottom > * {
    flex: 1 1 auto;
    text-align: center;
}